*/.snakemake
*/benchmarks
*/data
*/flu
*/logs
*/pre-processed
*/auspice
*/output
*/test
*/references-old
*/nextalign
build/
builds/
examples/

secrets.yaml
stats.json

.DS_Store
.vscode/*

nextstrain.yml

temp*