*/.snakemake
*/benchmarks
*/data
*/flu
*/logs
*/pre-processed
*/build
*/auspice
*/output
*/test
*/references-old
*/nextalign

builds

secrets.yaml
stats.json

.DS_Store
.vscode/*

nextstrain.yml

temp*